---
import Spinner from "./Spinner.astro";
const { show = true } = Astro.props;
---

{show && (
  <div id="loader" class="fixed inset-0 flex items-center justify-center bg-black/70 z-50">
    <Spinner/>
  </div>
)}
