<div id="map" class="w-full fade-section opacity-0">
    <iframe
        class="rounded-xl" width="100%" height="400" style="border:0" loading="lazy" allowfullscreen referrerpolicy="no-referrer-when-downgrade"
        src="https://www.google.com/maps/embed?pb=!1m12!1m8!1m3!1d989.3595225828435!2d112.769608!3d-7.304579!3m2!1i1024!2i768!4f13.1!2m1!1sNginden%20Intan%20Tim.%20XII%20No.9%20RT.001%2FRW.09%2C%20Nginden%20Jangkungan%20Kec.%20Sukolilo%20Surabaya%2C%20Jawa%20Timur%2060118!5e0!3m2!1sid!2sus!4v1757643302860!5m2!1sid!2sus">
    </iframe>
</div>