---
import Layout from "../layouts/Layout.astro";
---

<Layout title = "About Us">
    <h1>About Us</h1>
    <h2>What We Do</h2>
    <p>We provide construction solutions from design to build.</p>

    <h2>Visi</h2>
    <p>Become the most trusted construction partner.</p>

    <h2>Misi</h2>
    <ul>
        <li>Provide quality work</li>
        <li>Offer fair pricing</li>
    </ul>

    <h2>FAQ</h2>
    <p>Q: Do you provide free consultation?  
        A: Yes, we do.</p>
</Layout>
