---
import Layout from '../layouts/Layout.astro';
---

<Layout>
    <section class="pt-22 mb-10">
        <div class="w-auto h-fit mt-15 pl-15 pr-15 xl:pl-50 xl:pr-50">
            <div class="flex flex-col gap-10">
                <h1 class="lg:text-4xl text-2xl font-bold">Privacy & Policy</h1>
                <div class="w-full h-[1px] bg-gradient-to-r from-transparent via-[#e0aa20] to-transparent"></div>
                <div class="flex flex-col gap-5">
                    <h2 class="lg:text-xl text-lg font-bold">Tanggal Berlaku Efektif Mulai:</h2>
                    <h3>16 September 2025</h3>
                </div>
                <div class="flex flex-col gap-5">
                    <h2 class="lg:text-xl text-lg font-bold">Kami sangat menghargai privasi Anda. Informasi personal kami ambil hanya atas
                        kemauan Anda sendiri. Informasi yang dapat kami ambil antara lain: 
                    </h2>
                    <h3>
                        • Form Contact Us: Nama dan Alamat Email
                        <br>• Pemesanan Bahan Material: Nama, Alamat, dan Nomor Telfon
                    </h3>
                </div>
                <div class="flex flex-col gap-5">
                    <h2 class="lg:text-xl text-lg font-bold">Bagaimana kita memakai data Anda:</h2>
                    <h3>
                        • Untuk membalas pesan Anda
                        <br>• Untuk pemrosesan pesanan Anda
                    </h3>
                </div>
                <div class="flex flex-col gap-5">
                    <h2 class="lg:text-xl text-lg text-[#e0aa20] font-bold">Kami TIDAK menjual data Anda ke pihak manapun, KECUALI untuk pemrosesan pemesanan atau memang diperlukan oleh hukum yang berlaku.</h2>
                </div>
                <div class="flex flex-col gap-5">
                    <h2 class="lg:text-xl text-lg font-bold">Proteksi data:</h2>
                    <h3>Kami memiliki mekanisme sekuriti data untuk menjaga data Anda, tapi tidak ada metoda yang 100% aman.</h3>
                </div>
                <div class="flex flex-col gap-5">
                    <h2 class="lg:text-xl text-lg font-bold">Keluhan & Pesan:</h2>
                    <h3>Jika Anda ingin data Anda diakses, koreksi, ataupun dihapus maupun ada keluhan mengenai kebijakan perusahaan beserta penerapannya, dapat menghubungi email kami berupa <span class="font-bold">"wahyudi.construction@gmail.com"</span></h3>
                </div>
                <div class="flex flex-col gap-5">
                    <h2 class="lg:text-xl text-lg font-bold">Dengan menggunakan website ini, Anda dianggap SETUJU dengan kebijakan - kebijakan ini.</h2>
                </div>
                <div class="w-full h-[1px] bg-gradient-to-r from-transparent via-[#e0aa20] to-transparent"></div>
            </div>
        </div>
    </section>
</Layout>
