---
import { Image } from "astro:assets";
import footerLogo from "../assets/Logo.png";
---
<footer class="w-full bg-[#161616] text-center justify-items-center lg:text-sm text-xs text-gray-300 py-4 shadow-inner z-50">
  <Image src={footerLogo} alt="Footer Logo" width={100} height={100} format="webp" quality={100}/>
  <div class="flex flex-wrap wrap-break-word gap-1 justify-center">
      <p class="font-semibold">© COPYRIGHT 2025 WAHYUDI CONSTRUCTION - ALL RIGHTS RESERVED |</p>
      <a href="/policy" class="text-[#e0aa20] hover:text-white">PRIVACY POLICY</a>
  </div>
</footer>
