<nav class="fixed top-0 left-0 w-full bg-[#161616] shadow-md z-50">
  <ul class="flex justify-center gap-8 py-8">
    <li><a href="/">Home</a></li>
    <li><a href="/about">About Us</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/services">Services</a></li>
    <li><a href="/products">Products</a></li>
    <li><a href="/testimonies">Testimonies</a></li>
    <li><a href="/contact">Contact Us</a></li>
  </ul>
</nav>
