<section class="mt-8 p-16 pt-0">
  <h2>Our Services at a Glance</h2>
  <ul>
    <li><a href="/services">Consultation</a></li>
    <li><a href="/projects">Projects</a></li>
    <li><a href="/products">Products</a></li>
  </ul>
</section>
