---
import Layout from "../../layouts/Layout.astro";

const { id } = Astro.params;
---

<Layout title={`Project: ${id}`}>
  <h1>Project Details: {id}</h1>
  <p>Details about {id} project go here.</p>
</Layout>
