---
const { title = "Construction Company"} = Astro.props;
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
import "@fortawesome/fontawesome-svg-core/styles.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/Logo - Alt.svg" />
		<!-- Poppins init -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
		<link href="https://fonts.googleapis.com/css2?family=Heading+Now:wght@300;400;700&display=swap" rel="stylesheet">
	</head>
	<body class="font-sans min-h-screen flex flex-col w-full bg-[#161616] text-white">
		<Navbar/>
		<main class="flex-1">
			<slot/>
		</main>
		<Footer/>
	</body>
</html>
