---
const { title = "Construction Company"} = Astro.props;
import Navbar from "../components/Navbar.astro";
import Footer from "../components/Footer.astro";
import "../styles/global.css";
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>{title}</title>
		<meta name="viewport" content="width=device-width" />

		<!-- Replace with alt logo -->
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->

		<!-- Poppins init -->
		<link rel="preconnect" href="https://fonts.googleapis.com">
		<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
		<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap" rel="stylesheet">
	</head>
	<body class="font-sans min-h-screen w-full bg-[#161616] text-white">
		<Navbar/>
		<main>
			<slot/>
		</main>
		<Footer/>
	</body>
</html>
